* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: rgba(0, 0, 0, 0.8);
}

a:link {
  font-size: 0.9vw;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#top {
  padding: 1.1vw;
  margin-right: 1vw;
}

#sign {
  float: right;
  background-color: rgb(66, 133, 244);
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

#app {
  float: right;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  margin-top: -0.2vw;
  opacity: 0.5;
}

#app:hover {
  opacity: 1;
}

.imgs {
  margin-left: 1.1vw;
  margin-right: 0.8vw;
  padding-top: 0.2vw;
}

.top_head_r {
  float: right;
}

.top_head_l {
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

#container {
  width: 33%;
  margin:15vw auto;
  text-align: center;
}

#search {width: 100%;
height: 3vw;
border-radius: 3vw;
border:1px solid rgba(0, 0, 0, 0.2);
outline: none;
background-image: url(./images/magnifying_glass.jpg);
background-size: 6.5%;
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 1.5vw;
padding-left: 50px;
margin-top: 1.5vw;}