@import "reset";
@import "root";
@import "globals";

body {
    background-color: $primaryBackgroundColor;
    color: white;
    overflow: hidden;

}

.container {
    width: 80%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    .header {
        p {
            margin-top: 1rem;
        }
    }

    .main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: 45%;
        margin-top: 5rem;
        

        .up{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
    
}

.wrong {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    display: none;
    p{
        margin-bottom: 1rem;
        font-size: 1.2rem;
        
    }
}

.wrong_words {
    font-size: 1.5rem;
    
}

.word {
    font-size: 1.9rem;
    margin-top: 3rem;
}
.letter {
    display: inline-block;
    border-bottom: 3px solid $primaryBorderColor;
    width: 1rem;
    padding: 0.6rem;
    margin-left: 1rem;
    text-align: center;
    color : $primaryBackgroundColor;
}

svg {
    stroke: white;
}

.snackbar {
    position: absolute;
    top: 100%;
    display: none;
    width: 20%;
    padding: 1rem 0;
    background-color: #1a2835;
    border-radius: 10px 10px 0 0;
    
}

.snackbar2 {
    position: absolute;
    display: block;
    top: 100%;
    width: 20%;
    padding: 1rem 0;
    background-color: #1a2835;
    border-radius: 10px 10px 0 0;
    animation: moves alternate ease-in-out 3s;
    
}

.man {
    visibility: hidden;
}

.confirm_box_lost {
    background-color: #2980B9;
    width: 25%;
    padding: 4rem 1rem 3rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 30%;
    display: none;
    z-index: 1;
    h3{
        margin-bottom: 1rem;
    }

    button {
        margin-top: 1rem;
        padding: 1rem;
        color: #6780C0;
        background-color: #FFFFFF;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.confirm_box_win {
    background-color: #2980B9;
    width: 25%;
    padding: 4rem 1rem 3rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 30%;
    display: none;
    z-index: 1;
    h3{
        margin-bottom: 1rem;
    }

    button {
        margin-top: 1rem;
        padding: 1rem;
        color: #6780C0;
        background-color: #FFFFFF;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.container2 {
    width: 100vw;
    height: 100vh;
    background-color: #243342;
    position: absolute;
    top: 0;
    opacity: 0;

}


@keyframes moves {
    0% {top:100%;}
    25% {top:95%}
    50% {top: 95%;}
    75% {top: 95%;}
    100% {top: 100%}
}