.image {
    height: 100vh;
    background-size: cover;
    opacity: 0.7;
    background-attachment: fixed;
}

#image-1 {
    background-image: url(../img/Image1.jpg);
}

#image-2 {
    background-image: url(../img/Image2.jpg);
}

#image-3 {
    background-image: url(../img/Image3.jpg);
}

#image-4 {
    background-image: url(../img/Image1.jpg);
}