*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.main_container {
    display: flex;
    flex-flow: column;
    height: 95rem;
    padding: 5rem;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.parag {
    width:50%
}

span {
    display: block;
    margin-bottom: -15px;
}

.head {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    /* width: 100%; */
   
    
}

.part {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 32%;
    /* margin-right: -4rem; */
}

.down {
    align-self: center;
}

.person {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

img {
    width: 80%;
    border-radius: 10px;
}

.image {
    width: 75%;
}
.job {
    transform: rotateZ(90deg);
    transform-origin: -0.5vw -0.5vw;
    font-size: 0.8vw;
    font-family: 'PT Serif', serif;
    font-weight: 100;
    white-space: nowrap;
}

.name {
    font-weight: 600;
    margin-top: 0.5rem;
}

@media screen and (max-width: 992px) {

    .description {
        display: flex;
        flex-direction: column;
    }

    .part {
        flex: 50%
    }

    .person {
        flex:50%;
    }

    .part:nth-child(even):not(:last-child) {
        margin-top: 2rem
    }

    .down {
        align-self: flex-start;
        margin-top: -1rem;
    }


}

@media screen and (max-width:617px) {
    .description {
        display: flex;
        flex-direction: column;
    }
    .part {
        flex:50%;
    }
    .name {
        font-size: 1rem;
    }
    .down {
        align-self: flex-start;
        margin-top: -1rem;
    }
  
}

@media screen and (max-width: 556px) {
    .description {
        display: flex;
        flex-direction: column;
    }
    .part {
        flex: 45%;
    }
    .name {
        font-size: 0.5rem;
    }

    .down {
        align-self: flex-start;
        margin-top: -1rem;
    }
  
}

@media screen and (max-width: 456px) {
    .description {
        display: flex;
        flex-direction: column;
    }
    .part {
        flex: 50%;
    }

    .down {
        align-self: flex-start;
        margin-top: -1rem;
    }
  
}

@media screen and (max-width: 321px) {
    .description {
        display: flex;
        flex-direction: column;
    }
    .part {
        flex: 45%;
    }

  
    .down {
        align-self: flex-start;
        margin-top: -1rem;
    }


  
}